$secondary-color: #2c58e9;
$primary-color: #0e0c0c;
$private-color:#ff652f;
$tertiary-color: #fff;
$dark: darkgrey;
$color: #ff2fc1;

$background-sty:  #9898aa67; 

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
 }
 * {
   box-sizing: border-box;
 }
 @mixin background-style {
    color: #66667667;
    opacity: 7;
 }  

/* latin-ext */
@mixin font-face {
  font-family: 'Poppins', sans-serif;
  font-size: 400;
  font-style: normal;
  font-weight: 600;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
       @mixin transition-ease {
         transition: all 0.1s ease-in-out;
       }