@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import  '~bootstrap/scss/bootstrap';
@import 'config';

.about { 
 margin:  0 auto;
 padding: 0;
 text-align: center;
 background-size: cover;
 @include font-face;
 #p {
font-weight: 700;
font-size: 38px;
font-family: 'Courier New', Courier, monospace;
padding-top: 1em;
}      
.c-heading{
  padding-top: 2rem;
}
button {
  width: 15vw;
  margin-top: 1rem;
}
.bio-heading {
  margin-top: 0.5rem;
}
.my-img {
  width: 100px;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  float: left;
  z-index: 2;
  
}
}
.navbar-nav{
  font-weight: 700;
  font-size: 1rem;
 .nav-item {
  padding: 2px 50px 2px; 
  display: inline-block;
  .nav-link{
    @include transition-ease;
  a:hover{
    color: $color;
  }
  }
 }
}
#brand-logo {
  width: 40px; 
  height: 30px;
}
#bio {
  margin-top: 2rem;
  .code{
    font-size: 28px;
  }
}
.social-icon {
  align-items: flex-end;
  text-align: right;
}
.quote-bio{
  background:beige;
  background-origin: padding-box;
  opacity: 4;
  box-shadow: 4px 4px 4px rgb(110, 1, 1);  
  border-left: 5px solid;
  border-top: 5px solid;
  
.card {
  color: green;
  font-weight: 500;
  z-index: 2;
  font-size: 18px;
  text-indent: 0.5%;
  text-align: justify;
  padding: 0.5rem;
  }
}
.quote-bio1{
  background:beige;
  background-origin: padding-box;
  opacity: 4;
  box-shadow: 6px 6px 6px rgb(110, 1, 1);  
  border-left: 5px solid;
  border-top: 5px solid;

  .card { 
    color: green;
    font-weight: 500;
    z-index: 2;
    font-size: 18px;
    text-indent: 0.5%;
    text-align: justify;
    padding: 0.5rem;
  }
}
.quote-bio_item {
  border-right: 5px solid;
  border-bottom: 5px solid;
  font-weight: 500;
  background: beige;
  background-origin: padding-box;
  text-indent: 0.5%;
  text-align: justify;
  padding: 0.5rem;
 }
 footer{
  margin-top: 1rem;
  // margin-bottom: 0.5rem;
  padding: 1rem;
  background: darken($color: #66667667, $amount: 0);
  align-items: center;
  text-align: center;
}