@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import  '~bootstrap/scss/bootstrap';
@import 'config';

.contact { 
  margin:  0 auto;
  padding: 0;
  // column-count: 2;
  @include font-face;

  #p {
    font-weight: 700;   
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1em;
  }  
.greetingMsg{
margin: 0 auto;
padding-top: 1rem;
padding-bottom: 1.5rem;
}
.c-heading1{
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  }
#contactInfos {
  margin-top: 1rem;
  padding: 1rem;
  background: $background-sty;
  margin-bottom: 1rem;
  }
  .locationMap {
    border-bottom: 1px solid #66667667;
    border-top: 1px solid #66667667;
  }
}
.navbar-nav{
  font-weight: 700;
  font-size: 1rem;
 .nav-item {
  padding: 2px 50px 2px; 
  display: inline-block;
  .nav-link{
    @include transition-ease;
  a:hover{
    color: $color;
  }
  }
 }
 .navbar-brand {
  width: 40px;
  height: 30px;
}
}

#cDetail {
  &__items {
    float: left;
    @include transition-ease;
    a:hover {
      color: $color;
    }
  }
}
footer{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  background: darken($color: #66667667, $amount: 0);
  align-items: center;
  text-align: center;
  padding: 1rem;
}

