@import  '~bootstrap/scss/bootstrap';
@import 'config';  

  .home {
    background: url('/src/assets/model-seaside.jpg');
    background-size: cover;    
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    line-height: 2;
    @include font-face;
    .card {
      color: $primary-color;
       margin-left: 1.5rem;
       margin-top: 1rem;
       margin-bottom: 3rem;
       display: inline-block;
    }
  .title {
    font-size: 3rem;
    padding: 6px 12px;
    padding-top: 1em;
    padding-bottom: 5rem;
    @include font-face;
  } 
h3{
  margin-top: 1px;
  padding-bottom: 2rem;

}
h4 {
  text-align: left;
  margin-left: 8em;
  margin-bottom: 1em;
  font-weight: 700;
  color: red;

}
h1 {
  margin-bottom: 5rem;
  color: goldenrod;
  font-weight: 700;
  z-index: 2;
  .title2 {
    padding: 6px 12px;
    padding-top: 1em;
    padding-bottom: 5rem;
    color: chocolate;
 
  }
}
/*img { 
  width: 400px;
  margin: auto;
  perspective: floor($number: 3);  
 }*/
 #brand-logo {
  width: 40px;

}
#p {
  font-weight: 700;
  font-size: 38px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 1em;
}  
.from, form {
   padding-right: 0rem;
   padding-bottom: 1rem;
}
button {
 width: 15vw;
 margin-top: 1rem;
 padding-bottom: 0rem;
}
footer{
  width: 100vw;
  margin-bottom: 0.5rem;
  background: darken($color: #66667667, $amount: 0);
  align-items: center;
  text-align: center;
  position: relative;
.carousel slide {
  width: 100vw;
  height: 5vh;
  margin-top: 2rem;
  position: absolute;
  align-items: center;
  justify-content: right;
  opacity: 0px;
   }
  }
}
.navbar-nav{
  font-weight: 700;
  font-size: 1rem;
 .nav-item {
  padding: 2px 50px 2px; 
  display: inline-block;
  .nav-link{
    @include transition-ease;
  a:hover{
    color: $color;
  }
  }
 }
}
#brand-logo {
  width: 40px; 
  height: 30px;
}