@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import  '~bootstrap/scss/bootstrap';
@import 'config'; 


.home {   
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    line-height: 2;
    @include font-face;
header {
      h1 {
        margin-bottom: 5rem;
        color: goldenrod;
        font-weight: 700;
        z-index: 2;
        .title2 {
          padding: 6px 12px;
          padding-top: 1em;
          padding-bottom: 5rem;
          color: chocolate;
       
        }
      }
      .social-icon {
        float: right; 
        padding: 30px;
        width: 30px;
      }
}
.card {
      color: $primary-color;
       margin-left: 1.5rem;
       margin-top: 1rem;
       margin-bottom: 3rem;
       display: inline-block;
       box-shadow: 6px 6px 6px rgb(110, 1, 1);
    }
    #card1 {
      background: darken($color: #66667667, $amount: 0);
    }
    #card2 {
      // width: 35vw;
      background: url('../assets/project-images/edonuyidashbord.jpg');
      background-size: cover;
      font: bold;
      color: #ffffff;
  }
  #nav-section {
    border-bottom: 0.1rem solid;
  }
.navbar-nav{
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
 .nav-item {
  padding: 3px 50px 2px; 
  display: inline-block;
  .nav-link{
    @include transition-ease;
  a:hover{
    color: $color;
  }
  }
 }
 .navbar-brand {
  width: 40px;
  margin-top: 1rem;
  height: 30px;
}
}
// #brand-logo {
//   width: 20px; 
//   height: 30px;
//   margin-bottom: 1rem;
// }
// header {
//     background: url('/src/assets/project-images/edonuyidashbord.jpg') center;
//     background-size: cover;
//     color: $primary-color;
//     min-height: 35vh;

// }
  #title {
    font-size: 3rem;
    padding: 6px 12px;
    padding-top: 1em;
    padding-bottom: 5rem;
    @include font-face;
  } 
h3{
  margin-top: 1px;
  padding-bottom: 2rem;

}
h4 {
  text-align: left;
  margin-left: 8em;
  margin-bottom: 1em;
  font-weight: 700;
  color: red;
}
#p {
  font-weight: 700;
  font-size: 38px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 1em;
}  
.from, form {
   padding-right: 0rem;
   padding-bottom: 1rem;
}

button {
 width: 15vw;
 margin-top: 1rem;
 padding-bottom: 0rem;
}
footer{
  width: 100vw;
  margin-bottom: 0.5rem;
  background: darken($color: #66667667, $amount: 0);
  align-items: center;
  text-align: center;
  position: relative;
.carousel slide {
  width: 100vw;
  height: 5vh;
  margin-top: 2rem;
  position: absolute;
  align-items: center;
  justify-content: right;
  opacity: 0px;
   }
  }
}